.login {
  margin: 1rem;
}

.login p {
  padding-bottom: 1rem;
}
.login form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.login button {
  height: max-content;
}

.loginPassword label {
  display: flex;
  flex-direction: row;
  margin-left: 0.5rem;
}
