* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  background-color: blueviolet;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 2rem;
}

.seccionDesaparece {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.dispagu {
  margin: 1rem;
  padding: 1rem;
  max-width: max-content;
  text-align: center;
  background-color: cornsilk;
}
