.register {
  margin: 1rem;
}

.register p {
  padding-bottom: 1rem;
}
.register form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.register button {
  height: max-content;
}

.registerPassword label {
  display: flex;
  flex-direction: row;
  margin-left: 0.5rem;
}
