.main-container {
  background-color: cadetblue;
}

.header {
  background-color: lightblue;
  text-align: center;
  padding: 5px;
}

.message {
  display: flex;
  border: 1px solid red;
  padding: 5px;
  margin: 5px;
}

.avatar {
  width: 100px;
  border: 1px dotted darkgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  border-radius: 5px;
}

.avatar img {
  width: 70px;
}

.message-body {
  border: 1px solid black;
}

.message-time {
  border-bottom: 1px solid black;
  padding: 5px;
}

.message-text {
  padding: 5px;
  font-size: 13px;
}
