* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  background: rgb(252, 252, 162);
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;

  max-width: max-content;
  background: lightblue;
}

.counter button {
  background: rgb(226, 226, 226);
  margin: 1rem;
  width: 50%;
}
