* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bodyMessages {
  background: lightskyblue;
  border: 1px solid black;
}

.chat {
  border: 1px solid black;
  background: white;

  margin: 2rem;
}

.chatHeader {
  border-bottom: 1px solid black;
  background: rgb(211, 238, 255);

  text-align: center;

  padding: 0.5rem;
}

.message {
  border: 1px solid black;
  border-radius: 25px;

  margin: 2rem;
  height: 10rem;

  display: flex;
}

.avatar {
  border: 1px dotted black;
  border-radius: 25px;

  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar img {
  width: 80px;
}

.text {
  border: 1px dotted black;
  background: rgb(197, 197, 197);
  overflow-y: scroll;
  line-height: 22px;

  width: 100%;

  margin: 1rem;
  margin-left: 0;
}

.text header {
  border-bottom: 1px dotted black;
  background: rgb(197, 197, 197);

  padding: 0.5rem;
  width: 50%; /* porque no funciona con absolute? */

  position: absolute;
}

.text p {
  padding-top: 2rem;
  padding-left: 0.5rem;
}

.formulario {
  display: flex;
  justify-content: center;
  text-align: center;
}

.formulario form {
  background: cornflowerblue;
  height: 6rem;
  width: min-content;
  padding: 1rem;
  margin: 2rem;
}
