* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(106, 185, 216);
  height: 100vh;
}

.compoMessages {
  background: burlywood;
  margin: 2rem;
  padding: 2rem;
}

.alingHeader {
  display: flex;
  justify-content: end;
  align-items: end;
}

footer {
  height: 2rem;
}
