* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  --remEstandar: 2rem;
}

body {
  background: lightgreen;
  font-family: sans-serif;
}

header {
  text-align: center;
  padding: var(--remEstandar);
}

main {
  min-height: 100vh;

  margin: var(--remEstandar);
}

h2 {
  padding: 1rem;
  text-align: center;
}

img {
  padding: 1rem;
}

footer {
  text-align: center;
}
