* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  --remEstandar: 2rem;
}

body {
  background: rgb(0, 153, 255);
  font-family: sans-serif;
}

header {
  text-align: center;
  padding: var(--remEstandar);
}

main {
  min-height: 100vh;
  border: 5px solid white;

  margin: var(--remEstandar);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

img {
  padding: 1rem;
}
